/* Navbar */
nav {
  display: flex;
  align-items: center;
  background-color: rgb(30, 30, 30);
  height: 8vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;

  
}

.logo img {
max-height: 6vh;
width: auto;
margin-left: 1rem;
cursor: pointer;
}

.spacer {
  flex-grow: 1;

}

.nav-links {
  display: flex;
}

.nav-links li {
  font-size: 1.5rem;
  color: rgb(211, 202, 202);
  text-decoration: none;
  letter-spacing: 0.3rem;
  list-style: none;
  padding: 2rem;
}

.nav-links li:hover {
  color: orange;
}

.burger {
  display: none;
}

.burger div {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.5rem;
  transition: all 0.3s ease;
}

/* Navbar Media Queries */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    height: 92vh;
    right: 0px;
    top: 8vh;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li {
    font-size: 2.5rem;
  }

  .burger {
    display: block;
    cursor: pointer;
    padding-right: 2rem;
  }

  .spacer {
    width: 80vw;
  }
}

.nav-active {
  transform: translateX(0%);
  overflow-y: hidden;
}

/* Animate Links */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

/* Change burger icon */
.toggle .line1 {
  transform: rotate(-45deg) translate(-0.4rem, 0.6rem);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-0.4rem, -0.6rem);
}