/* resume Section */
#resume {
  background-color: rgb(75, 75, 75);
  height: 40vh;

}

#resume .section-title {
  color: white;
}

#resume .resume {
  display: flex;
  max-width: 1200px;
  height: 100%;
  /* margin: 20vh auto 0 auto; */
  margin: 0 auto 0 auto;

  justify-content: center;
}

#resume-btns {
  display: flex;
  justify-content: center;
  
 
}

#resume-btns a {
  /* margin: 0 1rem;
  width: 10rem;
  height: 3rem;
  border: 2px solid orange;
  color: orange;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 28px;
  overflow-y: hidden; */

  display: block;
 margin: 2rem ;
 width: 10rem;
 height: 3rem;
 border: 2px solid orange;
 color: white;
 background-color: orange;
 cursor: pointer;
 border-radius: 5px;
}

#resume-btns a:hover {
  background-color: transparent;
  color: orange;
}

/* #resume .col-left {
      width: 250px;
      height: 360px;
    }
    #resume .col-right {
      width: 100%;
    }
    #resume .col-right h2 {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      margin-bottom: 10px;
    }
    #resume .col-right p {
      margin-bottom: 20px;
    }
    #resume .col-right .cta {
      color: black;
      margin-bottom: 50px;
      padding: 10px 20px;
      font-size: 2rem;
    }
    #resume .col-left .resume-img {
      height: 100%;
      width: 100%;
      position: relative;
      border: 10px solid white;
    }
    #resume .col-left .resume-img::after {
      content: "";
      position: absolute;
      left: -33px;
      top: 19px;
      height: 98%;
      width: 98%;
      border: 7px solid crimson;
      z-index: -1;
    } */
/* End resume Section */

@media screen and (max-width: 768px) {
  #resume-btns {
    margin-top: 10px;
  }
  #resume-btns a {
font-size: 2rem;
    width: 50vw;
    height: 5rem;
    margin: 0;
  }
}
