@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  font-size: 10px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 5rem;
  font-weight: 300;
  padding: 50px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: orange;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 6rem;
  }
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid orange;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: orange;
}
.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: orange;
}

/* Contact Tabs */
.contact-tabs {
  position: fixed;
  top: 40vh;
  width: 12rem;
  cursor: pointer;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  * {
    overflow: visible;
  }
  .contact-tabs {
    display: none;
  }
}

.linkedin-tab {
  display: flex;
  height: 4rem;
  background-color: rgb(17, 121, 175);
  font-family: sans-serif;
  transform: translateX(-66%);
  transition: transform 0.2s ease-in;
}
.linkedin-tab:hover {
  transform: translateX(0%);
}
#linkedin-tab-text {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  color: rgb(248, 248, 248);
}
#linkedin-tab-logo {
  font-size: 3rem;
  color: rgb(248, 248, 248);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.github-tab {
  display: flex;
  height: 4rem;
  background-color: rgb(50, 50, 50);
  font-family: sans-serif;
  transform: translateX(-66%);
  transition: transform 0.2s ease-in;
  color: rgb(248, 248, 248);
}
.github-tab:hover {
  transform: translateX(0%);
}
#github-tab-text {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
#github-tab-logo {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-left: 1.8rem;
}

.email-tab {
  display: flex;
  height: 4rem;
  background-color: rgb(168, 161, 161);
  font-family: sans-serif;
  transform: translateX(-66%);
  transition: transform 0.2s ease-in;
  color: rgb(51, 50, 50);
}
.email-tab:hover {
  transform: translateX(0%);
}
#email-tab-text {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
#email-tab-logo {
  font-size: 2.5rem;
  margin-top: 0.7rem;
  margin-left: 3.1rem;
}

.resume-tab {
  display: flex;
  height: 4rem;
  background-color: orange;
  font-family: sans-serif;
  transform: translateX(-66%);
  transition: transform 0.2s ease-in;
  color: rgb(51, 50, 50);
}
.resume-tab:hover {
  transform: translateX(0%);
}
#resume-tab-text {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
#resume-tab-logo {
  font-size: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0.6rem;
}
/* End of Contact Tabs */


@media screen and (max-width: 768px) {
  .section-title {
    padding: 50px 20px 5px 20px;
    font-size: 4rem;
  }
}
#print-resume {
  display: none;
}





/* Media Query For Tablet */
/* @media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 2rem;
  } */

  /* Services Section */
  /* #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  } */
  /* End Services Section */
/* } */
/* End Media Query For Tablet */

/* Media Query For Desktop */
/* @media only screen and (min-width: 1200px) {
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
} */
/* End  Media Query For Desktop */
